#yoga_hover {
    position: relative;
    top: 0;
    left: 0;
}

.youtube-icon {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 30%;
    height: 30px;
    width: 50px;
    border-radius: 7px;
    background: var(--red);
    left: 50%;
    text-align: center;
    z-index: 1;
    display: none;
    color: var(--white);
}

.youtube-icon:hover {
    scale: 1.1;
}

#yoga_hover:hover>.youtube-icon {
    display: block;
}

@media only screen and (max-width: 770px) {
    .remedydata {
        height: auto !important;
        width: 100vw !important;
    }

    .rmm {
        margin: 0 !important;
        padding: 0 !important;
    }

    .rmm .text-center {
        font-weight: bold !important;
    }

    .rmm .fs-4 {
        font-weight: bold !important;
        font-size: 18px !important;
        margin: 3px !important;
    }

    .rmm .fs-6 {
        font-size: 15px !important;
        margin-left: 5px !important;
    }

    .remedyimg {
        height: auto !important;
        width: 100vw !important;
        padding: 3vw !important;
    }
}