.navbar-m {
    padding: 0 2vw !important;
}

.login-icon {
    height: 35px;
    width: 35px;
    background: url("./images/icons8-user-80.png") 0%;
    background-size: cover;
}

.login-text {
    color: var(--green);
    font-weight: 700;
}

.cart-icon {
    height: 45px;
    width: 45px;
    background: url("./images/icons8-cart-96.png") 0%;
    background-size: cover;
}

.cart-text {
    color: var(--green);
    font-weight: 700;
}

.header-sch {
    box-shadow: 0 0 10px var(--gray);
}

.login-user {
    height: 30px;
    width: 30px;
    background: url("./images/icons8-user-64.png") 0%;
    background-size: cover;
}

.login-doctor {
    height: 30px;
    width: 30px;
    background: url("./images/icons8-doctor-100\ \(1\).png") 0%;
    background-size: cover;
}

@media only screen and (max-width: 800px) {
    .header-sch {
        margin: 0 !important;
        width: auto !important;
    }

    .navv {
        display: flex !important;
        align-items: start;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 10px;
    }

    .nav-list {
        margin: 0 !important;
    }
}

@media only screen and (max-width: 580px) {
    .navbar-m {
        padding: 0 !important;
    }

    .headernav {
        height: 118px !important;
    }

    .nav-li {
        display: grid;
        place-items: start;
    }

    .navbar-li {
        display: grid;
        place-items: center;
    }

    .dropdown-menu {
        right: auto;
        left: 0;
    }

    .dropend {
        position: static !important;
    }

    .dropdownlist {
        width: auto !important;
    }
}