.hoverviewmore {
    /* display: none !important; */
    z-index: -1;
}

.hoverviewmore:hover {
    /* display: flex !important; */
    z-index: 1;
}

.imagehover {
    z-index: 1;
}

.imagehover:hover {
    z-index: -1;
}